<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>ISO'PLÂTRE</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

<header class="hero">
    <h1>ISO'PLÂTRE</h1>

    <img 
        src="{{ url_for('static', filename='images/Sans_titre_69_20251212204216.jpg') }}" 
        alt="Logo"
        class="logo-top"
    >
</header>

<section class="gallery">
    <div class="card"><img src="{{ url_for('static', filename='images/20220704_170556.jpg') }}"></div>
    <div class="card"><img src="{{ url_for('static', filename='images/20220704_170627.jpg') }}"></div>
    <div class="card"><img src="{{ url_for('static', filename='images/20221118_154114.jpg') }}"></div>
    <div class="card"><img src="{{ url_for('static', filename='images/20221118_154133.jpg') }}"></div>
    <div class="card"><img src="{{ url_for('static', filename='images/20221118_154136.jpg') }}"></div>
    <div class="card"><img src="{{ url_for('static', filename='images/20221210_151326.jpg') }}"></div>
</section>

<footer class="footer">
    <p>📞 07 87 74 37 69</p>
    <p>✉️ ludovic.henriot11@gmail.com</p>
</footer>

</body>
</html>





